<button type="button" id="add-chart" class="btn btn-default"><i class="fa fa-plus-square"></i> Добавить объект </button>
<div class="widget">
    <div class="widget-header">
        <h3><i class="fa fa-magic"></i> Построение запроса</h3></div>
    <div class="widget-content">
        <div class="wizard-wrapper">
            <div class="wizard">
                <ul class="steps">
                    <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Рынки<span class="chevron"></span></li>
                    <li data-target="#step2"><span class="badge">2</span>Темы / Компании<span class="chevron"></span></li>
                    <li data-target="#step3"><span class="badge">3</span>Провайдеры<span class="chevron"></span></li>
                    <li data-target="#step4"><span class="badge">4</span>График<span class="chevron"></span></li>
                </ul>
            </div>
            <div class="step-content">
                <div class="step-pane active" id="step1">
                    <form class="form1" data-parsley-validate novalidate>
                        <p>Выберите интересующие вас рынки:</p>
                        <select name="multiselect1[]" class="multiselect markets-selection" multiple="multiple"></select>
                    </form>
                </div>
                <div class="step-pane" id="step2">
                    <form class="form2" data-parsley-validate novalidate>
                        <p>Выберите интересующие вас темы или компании:</p>
                        <select multiple name="select2-multiple1" class="select2 select2-multiple themes-selection"></select>
                    </form>
                </div>
                <div class="step-pane" id="step3">
                    <form class="form3" data-parsley-validate novalidate>
                        <p>Выберите поставщика данных:</p>
                        <label class="control-inline fancy-radio">
                            <input type="radio" name="provider" value="/charts/keyword-fg-sd/">
                            <span><i></i>Factum Group</span>
                        </label>
                        <label class="control-inline fancy-radio">
                            <input type="radio" name="provider" value="/charts/keyword-admixer-sd/">
                            <span><i></i>Admixer</span>
                        </label>
                    </form>
                </div>
                <div class="step-pane" id="step4">
                    <div class="widget widget-table">
                        <div class="widget-header">
                            <h3><i class="fa fa-table"></i> Соц. демо <span class="sd-chart-title"></span></h3>
                            <div class="btn-group widget-header-toolbar">
                                <div class="control-inline toolbar-item-group sd-chart-list">


                                </div>
                                <div class="control-inline toolbar-item-group">
                                    <div class="time-range pull-right report-range">
                                        <i class="fa fa-calendar"></i>
                                        <span class="range-value"></span><b class="caret"></b>
                                        <input type="hidden"/>
                                    </div>
                                </div>
                                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="demo-flot-chart demo-vertical-bar-chart" data-ctype="#week"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button type="button" class="btn btn-default btn-prev"><i class="fa fa-arrow-left"></i> Назад</button>
                <button type="button" class="btn btn-primary btn-next">Далее <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>
