<% if (typeof(title__title) !== "undefined" && title__title !== "" ) { %><td><%- title__title %></td><% } %>
<td><%- views %></td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getSex(sex), function(val, key) { %>
            <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
                <td><span class="label label-info"><%- key %></span></td>
                <td><span class="label label-primary"><%- val %></span></td>
            </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getAge(age), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getEducation(education), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getСhildrenLt16(children_lt_16), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getMaritalStatus(marital_status), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getOccupation(occupation), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getGroup(group), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getIncome(income), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getRegion(region), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table class="social-demo-item">
        <% _.mapObject(getTypeNP(typeNP), function(val, key) { %>
        <tr class="sd-item-row" data-role="<%- key %>" data-index="<%- val %>">
            <td><span class="label label-info"><%- key %></span></td>
            <td><span class="label label-primary"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>