<td><%- publication %></td>
<td><%- views %></td>
<td>
    <table>
        <% _.mapObject(getSex(sex), function(val, key) { %>
            <tr>
                <td><span class="badge element-bg-color-blue"><%- key %></span></td>
                <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
            </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getAge(age), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getEducation(education), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getСhildrenLt16(children_lt_16), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getMaritalStatus(marital_status), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getOccupation(occupation), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getGroup(group), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getIncome(income), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getRegion(region), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>
<td>
    <table>
        <% _.mapObject(getTypeNP(typeNP), function(val, key) { %>
        <tr>
            <td><span class="badge element-bg-color-blue"><%- key %></span></td>
            <td><span class="badge element-bg-color-seagreen"><%- val %></span></td>
        </tr>
        <% }) %>
    </table>
</td>