<td class="publication" data-original-title="Перейти к соц.дем"><%- publication %></td>
<td class="publication-list" data-key="<%- publication %>"
                             data-original-title="Посмотреть список публикаций"
                             data-toggle="modal"
                             data-target="#myModal"><%- publication_amount %></td>
<td><%- country %></td>
<td><%- region %></td>
<td><%- city %></td>
<td><%- type %></td>
<td><%- topic %></td>
<td><%- consolidated_type %></td>

