<div id="top-bar" class="top-bar navbar-fixed-top"></div>

<div id="left-sidebar" class="left-sidebar "></div>

<div id="main-content-wrapper" class="content-wrapper ">

    <div id="market-rating" class="content"></div>

    <div id="theme-company-rating" class="content"></div>

    <div id="publication-rating" class="content"></div>

    <div id="specific-social-demo-rating" class="content"></div>

    <div id="general-social-demo-rating-table" class="content"></div>

    <div id="themes-social-demo-rating" class="content"></div>

    <div id="publications-social-demo-rating" class="content"></div>

    <div id="admin-data-uploader-region" class="content"></div>

    <div id="admin-user-roles-region" class="content"></div>

    <div id="admin-keys-update-region" class="content"></div>

    <div id="admin-files-region" class="content"></div>

    <footer class="footer">
        &copy; 2018 Analytics
    </footer>

</div>